h1{
    font-size: 16px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    border : 1px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-content: center;
    
}

a{
    text-decoration: none;
}

body{
    background-color: #bbf1ef;
    font-family: 'Verdana','Apple SD Gothic Neo','NanumGothic',sans-serif;
    align-items: center;
}

img{
    border: 0px solid #bbf1ef;
    border-radius: 10px;
}

p img{
    border-radius: 50%;
}

p{
    text-align: center;
}

li{
    list-style-type: none;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    vertical-align: middle;
    width: 300px;
    text-align: center;
    border : 5.0px solid #bbf1ef;
    border-collapse: separate;
    border-spacing: 10px;
    box-sizing: 300px;
    height: 40px;
    color : white;
    background-color: #ff9a9e;
    padding: auto,auto;
}